<div class="btn-group">
	<button type="button" class="btn btn-secondary btn-sm no-round-border" 
		ng-disabled="pager.currentPage == 0" 
		ng-click="pager.currentPage = pager.currentPage - 1">Previous</button>
	<button type="button" class="btn btn-sm" disabled>
		<span class="badge badge-secondary">{{pager.currentPage+1}}/{{pager.numberOfPages()}}</span>
	</button>
	<button type="button" class="btn btn-secondary btn-sm no-round-border"
		ng-disabled="pager.currentPage >= pager.searchData().length / pager.pageSize - 1" 
		ng-click="pager.currentPage = pager.currentPage + 1">Next</button>
</div>